main {
    width: 960px;
    margin: 0 auto;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: rgb(190, 183, 183);
    align-items: center;
    margin: 25px 0;
}
html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
    font-size: 15px;
}
.first-row, .second-row, .third-row {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}
.first-img {
    width: 100%;
}
.first-box {
    border: 1px solid black;
    padding: 10px 25px;
    margin-right: 35px;
    padding-bottom: 30px;
    background-color: rgba(235, 238, 238, 0.824);
}
.second-box {
    border: 1px solid black;
    padding: 10px 25px;
    padding-bottom: 30px;
    background-color: rgba(235, 238, 238, 0.824);
}
button {
    width: 35%;
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: 10px;
    height: 15%;
}
.header {
    margin-bottom: 35px;
}
.last-line {
    border-top: 2px solid black;
}
.last-row {
    display: flex;
    margin: 35px 0;
}
.last-one-side {
    margin-right: 40px;
    margin-top: 0;
}
footer {
    padding: 20px 20px;
    font-size: 10px;
    text-align: center;
}
.last-one-side a {
    margin-top: 50px;
}
.last-header {
    margin: 0 
}
h1 {
    font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
    font-size: 20px;
}
